.mapaModal {
  text-align: center;
}

.boton {
  padding: 10px 20px;
  background-color: var(--fondo0);
  color: var(--color0);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.boton:hover {
  background-color: #ffffffb7;
}

.modal {
  color: var(--color1);
  background-color: var(--fondo1);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  /* max-width: 600px; */
  margin: auto;
  text-align: center;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.botonCerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botonCerrar:hover {
  background-color: #c82333;
}
